<div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
  <div
    class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full"
  >
    <div class="bg-gray-200 px-2 py-5 border-solid border-gray-200 border-b">
      <span class="font-bold">Danh sách {{ title }}</span>

      <ng-template #searchSuffit
        ><i nz-icon nz nzType="search" class="text-base"></i
      ></ng-template>
      <nz-select
        class="px-2 w-64 text-base"
        nzShowSearch
        nzServerSearch
        nzNotFoundContent="Không tìm thấy dữ liệu"
        nzPlaceHolder="Tìm theo tên"
        (nzOnSearch)="onSearch($event)"
        (ngModelChange)="onSelectSearchChange($event)"
        [nzSuffixIcon]="searchSuffit"
      >
        <nz-option
          *ngFor="let o of searchResult"
          [nzLabel]="o.name"
          [nzValue]="o._id"
        >
        </nz-option>
      </nz-select>

      <button
        nz-button
        class="
          float-right
          bg-green-500
          hover:bg-green-800
          focus:bg-green-300
          text-white
          font-bold
          px-4
          pb-2
          text-center
          rounded-full
        "
        type="button"
        (click)="openModal()"
      >
        Tạo mới
      </button>
    </div>
    <div></div>
    <div class="p-3">
      <nz-table
        class="table-responsive w-full rounded"
        nzShowSizeChanger
        [nzData]="datas"
        [nzFrontPagination]="false"
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)"
      >
        <thead>
          <tr>
            <th
              class="border w-2/5 px-4 py-2"
              nzColumnKey="createdAt"
              [nzSortFn]="true"
            >
              Ngày tạo
            </th>
            <th
              class="border w-2/5 px-4 py-2"
              nzColumnKey="name"
              [nzSortFn]="true"
            >
              Tên hạng
            </th>
            <th class="border w-1/5 px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas">
            <td class="border px-4 py-2">
              {{ util.formatDate(data.createdAt) }}
            </td>
            <td class="border px-4 py-2">{{ data.name }}</td>
            <td class="border px-4 py-2">
              <a
                class="bg-blue-dark cursor-pointer rounded p-1 mx-1 text-white"
                (click)="redirectDetail(data._id)"
              >
                <i class="fas fa-edit text-base"></i
              ></a>
              <a
                class="bg-red-dark cursor-pointer rounded p-1 mx-1 text-white"
                (click)="delete(data._id)"
              >
                <i class="fas fa-trash text-base"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
<nz-modal
  [(nzVisible)]="formModal"
  [nzTitle]="title"
  (nzOnCancel)="closeModal()"
  class="h-auto w-auto"
>
  <form
    *nzModalContent
    nzLayout="vertical"
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
    class="w-full"
  >
    <nz-form-item class="md:flex md:items-start mb-6">
      <div class="md:w-1/4">
        <nz-form-label
          nzRequired
          nzFor="name"
          class="
            block
            text-gray-500
            font-regular
            md:text-right
            mb-1
            md:mb-0
            pr-4
          "
          >Tên hạng
        </nz-form-label>
      </div>
      <nz-form-control class="md:w-3/4" nzErrorTip="Vui lòng nhập mã loại !">
        <input
          class="
            bg-grey-200
            appearance-none
            border-2 border-grey-200
            rounded
            w-full
            py-2
            px-4
            text-grey-darker
            leading-tight
            focus:outline-none focus:bg-white focus:border-purple-light
          "
          nz-input
          formControlName="name"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="md:flex md:items-start mb-6">
      <div class="md:w-1/4">
        <nz-form-label
          nzRequired
          nzFor="description"
          class="
            block
            text-gray-500
            font-regular
            md:text-right
            mb-1
            md:mb-0
            pr-4
          "
          >Mô tả
        </nz-form-label>
      </div>
      <nz-form-control class="md:w-3/4">
        <input
          class="
            bg-grey-200
            border-2 border-grey-200
            rounded
            w-full
            py-2
            px-4
            text-grey-darker
            leading-tight
            focus:outline-none focus:bg-white focus:border-purple-light
          "
          nz-input
          formControlName="description"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="md:flex md:items-start mb-6">
      <div class="md:w-1/4">
        <nz-form-label
          nzRequired
          nzFor="roomType"
          class="
            block
            text-gray-500
            font-regular
            md:text-right
            mb-1
            md:mb-0
            pr-4
          "
          >Kiểu phòng
        </nz-form-label>
      </div>
      <nz-form-control nzErrorTip="Vui lòng chọn kiểu phòng!" class="md:w-3/4">
        <nz-select
          class="px-2 w-64 text-base"
          nzShowSearch
          nzServerSearch
          nzNotFoundContent="Không tìm thấy dữ liệu"
          nzPlaceHolder="Chọn kiểu phòng"
          (nzOnSearch)="onSearch($event)"
          [nzSuffixIcon]="searchSuffit"
          formControlName="roomType"
        >
          <nz-option
            *ngFor="let o of roomTypesSearch"
            [nzLabel]="o.name"
            [nzValue]="o._id"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="md:flex md:items-start mb-6">
      <div class="md:w-1/4">
        <nz-form-label
          nzRequired
          nzFor="roomCategory"
          class="
            block
            text-gray-500
            font-regular
            md:text-right
            mb-1
            md:mb-0
            pr-4
          "
          >Loại phòng
        </nz-form-label>
      </div>
      <nz-form-control nzErrorTip="Vui lòng chọn loại phòng !" class="md:w-3/4">
        <nz-select
          class="px-2 w-64 text-base"
          nzShowSearch
          nzServerSearch
          nzNotFoundContent="Không tìm thấy dữ liệu"
          nzPlaceHolder="Chọn loại phòng"
          (nzOnSearch)="onSearch($event)"
          [nzSuffixIcon]="searchSuffit"
          formControlName="roomCategory"
        >
          <nz-option
            *ngFor="let o of roomCateSearch"
            [nzLabel]="o.name"
            [nzValue]="o._id"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="md:flex md:items-start mb-6">
      <div class="md:w-1/4">
        <nz-form-label
          nzRequired
          class="
            block
            text-gray-500
            font-regular
            md:text-right
            mb-1
            md:mb-0
            pr-4
          "
          >Hình Ảnh
        </nz-form-label>
      </div>
      <nz-form-control class="md:w-3/4">
        <nz-upload
          [nzAction]="apiUpload"
          nzListType="picture-card"
          [(nzFileList)]="files"
          [nzShowButton]="files.length < 4"
        >
          <i nz-icon nzType="plus" class="text-3xl text-grey-dark"></i>
          <div class="mt-2 text-grey">Upload</div>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="px-2 inline-block">
      <button
        nz-button
        class="
          text-white
          font-bold
          rounded-full
          bg-red-light
          hover:bg-red-light
        "
        type="button"
        (click)="closeModal()"
      >
        Thoát
      </button>
      <button
        nz-button
        class="text-white font-bold rounded-full bg-blue-500 hover:bg-blue-300"
        type="submit"
      >
        Lưu
      </button>
    </nz-form-item>
  </form>
  <div *nzModalFooter></div>
</nz-modal>
