<div>
  <!-- <p class="about-title">Về Chúng tôi</p>
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="8">
      <nz-card class="about-us-detail">
        <nz-card-meta
          nzTitle="Sạch sẽ"
          nzDescription="Sạch sẽ, thoáng mát, yên tĩnh là mục tiêu chúng tôi đặt ra và luôn
          tuân thủ chúng"
          [nzAvatar]="avatarTemplate"
        ></nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate>
        <nz-avatar
          nzSrc="/assets/image/clean.png"
        ></nz-avatar>
      </ng-template>
      
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
      <nz-card class="about-us-detail">
        <nz-card-meta
          nzTitle="Chuyên nghiệp"
          nzDescription="Với kinh nghiệm dầy dặn trong việc quản lý khách sạn chúng tôi tự tin
          mang lại trải nghiệm tốt nhất"
          [nzAvatar]="avatarTemplate"
        ></nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate1>
        <nz-avatar
        nzSrc="/assets/image/clean.png"
      ></nz-avatar>
      </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
      <nz-card class="about-us-detail">
        <nz-card-meta
          nzTitle="Tận Tâm"
          nzDescription="Luôn nỗ lực phục vụ quý khách một cách tốt nhất"
          [nzAvatar]="avatarTemplate"
        ></nz-card-meta>
      </nz-card>
    </div>
  </div> -->
</div>
