<div class="flex flex-col my-20 bg-white">
  <!-- Auth Card Container -->
  <div class="grid place-items-center mx-2 sm:my-auto">
    <!-- Auth Card -->
    <div
      class="
        w-11/12
        p-12
        sm:w-8/12
        md:w-6/12
        lg:w-5/12
        2xl:w-4/12
        px-6
        py-10
        sm:px-10 sm:py-6
        bg-red-100
        rounded-lg
        shadow-md
        lg:shadow-lg
      "
    >
      <!-- Card Title -->
      <h2 class="text-center font-semibold text-3xl lg:text-4xl text-gray-800">
        Đăng ký
      </h2>
      <div class="grid grid-cols-2">

      </div>

      <form
        class="mt-10"
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
      >
      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzRequired
          nzFor="idCard"
          class="block text-xs font-semibold text-gray-600 uppercase"
          >Chứng minh thư</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Vui lòng nhập chứng minh thư!"
        >
          <input
            nz-input
            formControlName="idCard"
            placeholder="Chứng minh thư"
            class="
              block
              w-full
              py-3
              px-1
              mt-2
              text-gray-800
              appearance-none
              border-b-2 border-gray-100
              focus:outline-none focus:border-gray-200
            "
            required
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzRequired
          nzFor="fullName"
          class="block text-xs font-semibold text-gray-600 uppercase"
          >Họ tên: </nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Vui lòng nhập họ tên!"
        >
          <input
            nz-input
            formControlName="fullName"
            placeholder="Họ tên"
            class="
              block
              w-full
              py-3
              px-1
              mt-2
              text-gray-800
              appearance-none
              border-b-2 border-gray-100
              focus:outline-none focus:border-gray-200
            "
            required
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzRequired
          nzFor="phone"
          class="block text-xs font-semibold text-gray-600 uppercase"
          >Số điện thoại: </nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Vui lòng nhập Số điện thoại!"
        >
          <input
            nz-input
            formControlName="phone"
            placeholder="Số điện thoại"
            class="
              block
              w-full
              py-3
              px-1
              mt-2
              text-gray-800
              appearance-none
              border-b-2 border-gray-100
              focus:outline-none focus:border-gray-200
            "
            required
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzRequired
          nzFor="address"
          class="block text-xs font-semibold text-gray-600 uppercase"
          >Địa chỉ: </nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Vui lòng nhập địa chỉ!"
        >
          <input
            nz-input
            formControlName="address"
            placeholder="Địa chỉ"
            class="
              block
              w-full
              py-3
              px-1
              mt-2
              text-gray-800
              appearance-none
              border-b-2 border-gray-100
              focus:outline-none focus:border-gray-200
            "
            required
          />
        </nz-form-control>
      </nz-form-item>

        <!-- Email Input -->
        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="24"
            nzRequired
            nzFor="email"
            class="block text-xs font-semibold text-gray-600 uppercase"
            >E-mail</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Vui lòng nhập đúng định dạnh E-mail!"
          >
            <input
              nz-input
              type="email"
              formControlName="email"
              placeholder="email"
              class="
                block
                w-full
                py-3
                px-1
                mt-2
                text-gray-800
                appearance-none
                border-b-2 border-gray-100
                focus:outline-none focus:border-gray-200
              "
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Password Input -->

        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="24"
            nzFor="password"
            class="block mt-2 text-xs font-semibold text-gray-600 uppercase"
            nzRequired
            >Password</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Vui lòng nhập password!"
          >
            <input
              nz-input
              type="password"
              formControlName="password"
              placeholder="password"
              class="
                block
                w-full
                py-3
                px-1
                mt-2
                mb-4
                text-gray-800
                appearance-none
                border-b-2 border-gray-100
                focus:outline-none focus:border-gray-200
              "
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="hinhAnh">
              Hình ảnh:
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-upload
                [nzAction]="apiUpload"
                nzListType="picture-card"
                [(nzFileList)]="files"
                [nzShowButton]="!files.length"
                [nzCustomRequest]="customReq"
              >
                <i nz-icon nzType="plus" class="upload-icon"></i>
                <div class="ant-upload-text">Upload</div>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        <!-- Auth Buttton -->
        <button
          nz-button
          type="submit"
          class="
            w-full
            mt-10
            bg-black-darkest
            rounded-sm
            font-medium
            text-white
            uppercase
            focus:outline-none
            hover:bg-gray-700 hover:shadow-none
          "
        >
          Đăng Ký
        </button>

        <!-- Another Auth Routes -->
      </form>
    </div>
  </div>
</div>
