<footer>
  <div class="footer-content">
    <img src="/assets/image/Logo-Header.png" class="logo" alt="" />
    <div class="footer-ul-container">
      <ul class="category">
        <li class="category-title">Thư Hotel</li>
        <li><a href="#" class="footer-link">Trang chủ</a></li>
        <li><a href="#" class="footer-link">Khuyến mãi</a></li>
        <li><a href="#" class="footer-link">Hạng</a></li>
        <li><a href="#" class="footer-link">Liên Hệ</a></li>
      </ul>
    </div>
  </div>

  <p class="info">
    Email hỗ trợ: n17dccn172@student.ptithcm.edu.vn
  </p>
  <p class="info">
      Địa chỉ: 300 Nguyễn Văn Linh, phường Bình Thuận, Quận 7 , Tp Hồ Chí Minh
  </p>
  <div class="footer-social-container">
    <div>
      <a href="#" class="social-link">terms & services</a>
      <a href="#" class="social-link">Privacy page</a>
    </div>
    <div>
      <a href="#" class="social-link"
        ><i nz-icon nzType="instagram" nzTheme="outline"></i
      ></a>
      <a href="#" class="social-link"
        ><i nz-icon nzType="facebook" nzTheme="outline"></i
      ></a>
      <a href="#" class="social-link"
        ><i nz-icon nzType="twitter" nzTheme="outline"></i
      ></a>
    </div>
  </div>
  <p class="footer-credit">Thư Hotel, Best hotel online</p>
</footer>
