

.navbar {
  position: inherit;
  top: 0;
  left: 0;
  width: auto;
  background: #f5f5f5;
  z-index: 9;
}

.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  width: 200px;
  height: 100px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search {
  width: 500px;
  display: flex;
}

.search-box {
  width: 60%;
  height: 50px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: none;
  color: #a9a9a9;
  outline: none;
  margin-right: 12px ;
}

.search-btn {
  width: 30%;
  height: 50px;
  padding: 3px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-box::placeholder {
  color: #a9a9a9;
}

.nav-items a {
  margin-left: 20px;
}

[nz-menu] {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d1d1d1;
  background: #f5f5f5;
}

[nz-menu-item] {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #383838;
  opacity: 0.5;
  transition: 0.5s;
}

[nz-menu-item]:hover {
  opacity: 1;
}

.icon-user-cart {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}

.user-detail {
  margin-left: 10px;
  float: right;
}

[nz-carousel-content] {
  text-align: center;
  height: 500px;
  line-height: 200px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.side-hotel {
    width: 100%;
    height: 100%;
}