<section class="room">
  <h2 class="room-category">{{ title }}</h2>

  <button class="pre-btn">
    <i nz-icon nzType="left" nzTheme="outline"></i>
  </button>
  <button class="nxt-btn" >
    <i nz-icon nzType="right" nzTheme="outline"></i>
  </button>
  <div class="room-container">
   

    <div class="room-card" *ngFor="let item of data">
      <div class="room-image">
        <span class="discount-tag" *ngIf="item.isDiscount ===true">{{item.discountValue }}% off</span>
        <img [src]="item.images[0]" class="room-thumb" alt="" />
        <button class="card-btn" (click) ="redirectDetailPage(item._id)" >Đặt phòng</button>
      </div>
      <div class="room-info">
        <h2 class="room-brand">{{item.name}}</h2>
        <p class="room-short-des">{{item.roomCategory.name}}</p>
        <p class="room-short-des">{{item.roomType.name}}</p>
        <span class="price">{{item.priceText}}</span>
        <span class="actual-price"  *ngIf="item.isDiscount ===true">{{item.priceDiscountText}}</span>
      </div>
    </div>
    
  </div>

  
</section>
