<section class="collection-container">
    <a href="#" class="collection">
        <img src="/assets/image/collector.jpg" alt="">
        <p class="collection-title">women <br> apparels</p>
    </a>
    <a href="#" class="collection">
        <img src="/assets/image/collector2.jpg" alt="">
        <p class="collection-title">men <br> apparels</p>
    </a>
    <!-- <a href="#" class="collection">
        <img src="img/accessories-collection.png" alt="">
        <p class="collection-title">accessories</p>
    </a> -->
</section>